<app-header></app-header>
<breadcrumb #parent>
    <div class="sub-header p-relative">
      <div class="overlay overlay-bg-black"></div>
      <div class="pattern"></div>
      <div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
                <div class="sub-header-content p-relative">
                  <h1 class="text-custom-white lh-default fw-600">Accounts</h1>
                  <ul class="custom">
                    <li><a class="text-custom-white">Home</a></li>
                    <li >
  
                        <a>list of accounts</a>
                    </li>
  
                  </ul>
                </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </breadcrumb>
  <div class="section-padding lw-tab-section p-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
            <button (click) = "loadbatch()" class = "btn-first btn-submit-fill"> Upload Data</button>
            <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
              
                     <li [ngbNavItem]="2">
                        <a ngbNavLink>
                          Most Popular
                        </a>
                        <li [ngbNavItem]="3">
                            <a ngbNavLink>
                              Most Popular
                            </a>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                        <th>  Rib</th> 
                        <th> sold </th>
                        <th> openDate</th>
                        <th> state </th>
                        <th> typeAccount</th>
                        <th> interest</th>
                        <th> index_interest</th>
                        <th> Actions </th>
  
                    </tr>
                    <tr *ngFor = "let accs of acc" >
                        <td> {{ accs.rib}} </td>
                           <td> {{ accs.sold }} </td>
                           <td> {{ accs.openDate }} </td>
                           <td> {{ accs.state }} </td>
                           <td> {{ accs.typeAccount }} </td>
                           <td> {{ accs.interest }} </td>
                           <td> {{ accs.index_interest }} </td>
                         
                          <!--
                           <td>
                               <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                               <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                               <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                           </td>
                       -->
                       <td>
                        <button (click) = "updateAcc(accs.rib)" class = "btn-first btn-submit-fill"> Update</button>
                        <button (click) = "deleteacc(accs.rib)" class = "btn-first btn-submit-fill" style="margin-left: 10px"> Delete</button>
                       </td>
                       </tr>
  
                  </table>
                </div>
          
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    
<app-footer></app-footer>
