<app-header xmlns:filter="http://www.w3.org/1999/xhtml"></app-header>
<app-breadcrumb></app-breadcrumb>

<section class="section-padding bg-gray">
  <div class="container">
    <div class="row doctors-team-style-2">

      <div class="container mt-5" id="htmlData">
        <button (click) = "loadbatch()" class = "btn-first btn-submit-fill"> Upload Data</button>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="filterTerm"
          />
        </div>



        <div class="table-responsive">
          <table class="lw-tab-table">
            <tr class="lw-table-row-1">
              <th [appSort]="acc" data-order="desc" data-name="rib" scope="col">rib</th>
              <th [appSort]="acc" data-order="desc" data-name="sold" scope="col">sold </th>
              <th [appSort]="acc" data-order="desc" data-name="openDate" scope="col">openDate </th>
              <th [appSort]="acc" data-order="desc" data-name="state" scope="col">state</th>
              <th [appSort]="acc" data-order="desc" data-name="typeAccount" scope="col">typeAccount</th>
              <th [appSort]="acc" data-order="desc" data-name="interest" scope="col">interest</th>
              <th [appSort]="acc" data-order="desc" data-name="index_interest" scope="col">index_interest</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor = "let accs of acc  | filter: filterTerm | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        ">
              <td class="lw-table-data-2">
                {{ accs.rib }}
              </td>
              <td class="lw-table-data-2">
                {{ accs.sold }}
              </td>
              <td class="lw-table-data-3">
                {{ accs.openDate }}
              </td>
              <td class="lw-table-data-4">
                {{ accs.state }}
              </td>
              <td class="lw-table-data-4">
                {{ accs.typeAccount }}
              </td>
              <td class="lw-table-data-4">
                {{ accs.interest }}
              </td>
              <td class="lw-table-data-4">
                {{ accs.index_interest }}
              </td>

            <td>
              <button (click) = "updateAcc(accs.rib)" class = "btn-first btn-submit-fill"> Update</button>
              <button (click) = "deleteacc(accs.rib)" class = "btn-first btn-submit-fill" style="margin-left: 10px"> Delete</button>
             </td>

            </tr>

          </table>

          <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
          </div>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>

        </div>

        <hr>

      </div>


    </div>
    </div>
</section>

<app-footer></app-footer>


