<div class="section-padding bg-gray our-articles">
    <div class="right-side full-height bg-border">
        <div class="section-heading">
            <h3 class="text-white fw-600">Register</h3>
        </div>
        <form class="form-style-2 form-style-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-user"></i></span>
                            <input type="text" name="#" class="form-control" placeholder=" Name" [(ngModel)]="ad.name">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-user"></i></span>
                            <input type="text" name="#" class="form-control" placeholder="Second Name" [(ngModel)]="ad.secondName">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-envelope"></i></span>
                            <input type="email" name="#" class="form-control" placeholder="Phone Number"[(ngModel)]="ad.phoneNum">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-envelope"></i></span>
                            <input type="email" name="#" class="form-control" placeholder="birthday">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-phone-alt"></i></span>
                            <input type="text" name="#" class="form-control" placeholder="Email Address" [(ngModel)]="ad.email">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-preappend"><i class="fas fa-phone-alt"></i></span>
                            <input type="password" name="#" class="form-control" placeholder="password" [(ngModel)]="ad.password">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom-checkbox text-custom-black">
                            <input type="checkbox" name="#">
                            <span class="checkmark"></span>
                            I Agree to the <a href="#">terms & conditions</a> and <a
                                href="#">privacy policy.</a>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn-first btn-submit full-width" (click)="ajoutA(ad)">register</button>
                </div>

            </div>
        </form>
    </div>
</div>

