<app-header xmlns:filter="http://www.w3.org/1999/xhtml"></app-header>
<app-breadcrumb></app-breadcrumb>



<section class="section-padding bg-gray">
  <div class="container">
    <div class="row doctors-team-style-2">

      <div class="container mt-5">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="filterTerm"
          />
        </div>
        <div class="table-responsive">
          <table class="lw-tab-table">
            <tr class="lw-table-row-1">
              <th [appSort]="Guarantors" data-order="desc" data-name="idGarantor" scope="col">IdGarantor</th>
              <th [appSort]="Guarantors" data-order="desc" data-name="nameGarantor" scope="col">First Name </th>
              <th [appSort]="Guarantors" data-order="desc" data-name="secondnameGarantor" scope="col">Secondname </th>
              <th [appSort]="Guarantors" data-order="desc" data-name="workGarantor" scope="col">work</th>
              <th [appSort]="Guarantors" data-order="desc" data-name="salaryGarantor" scope="col">Salary</th>

              <th>Actions</th>
            </tr>
            <tr *ngFor = "let Guarantor of Guarantors  | filter: filterTerm | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        ">
              <td class="lw-table-data-2">
                {{ Guarantor.idGarantor }}
              </td>
              <td class="lw-table-data-2">
                {{ Guarantor.nameGarantor }}
              </td>
              <td class="lw-table-data-3">
                {{ Guarantor.secondnameGarantor }}
              </td>
              <td class="lw-table-data-4">
                {{ Guarantor.workGarantor }}
              </td>
              <td class="lw-table-data-5" style="color: red">
                {{ Guarantor.salaryGarantor }}
              </td>

              <td class="lw-table-data-3 choose-btn">
                <button class="btn btn-danger"  (click)="delete(Guarantor.idGarantor)" >Delete</button>


                <br>
                <button class="btn btn-dark" (click)="openVerticallyCentered(content2)" (click)="update(Guarantor)">Update</button>
                <ng-template #content2 let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                  </div>
                  <div class="modal-body">
                    <form (ngSubmit) = "onSubmit()">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="text-custom-black fs-14 fw-600">Guarantor Name</label>
                            <input type="text" class ="form-control" #nameGarantor="ngModel"  [(ngModel)] = "Guarant.nameGarantor" name = "nameGarantor">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="text-custom-black fs-14 fw-600">Second  Name</label>
                            <input type="text" class ="form-control" #secondnameGarantor="ngModel" [(ngModel)] = "Guarant.secondnameGarantor" name = "secondnameGarantor">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="text-custom-black fs-14 fw-600">salaryGarantor</label>
                            <input type="number" class ="form-control" #salaryGarantor="ngModel"  [(ngModel)] = "Guarant.salaryGarantor" name = "salaryGarantor">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="text-custom-black fs-14 fw-600">workGarantor</label>
                            <input type="text" class ="form-control" #workGarantor="ngModel" [(ngModel)] = "Guarant.workGarantor" name = "workGarantor">
                          </div>

                        </div>
                      </div>
                      <button class = "btn btn-success" type ="submit" style="margin-left: 40%;" (click)="modal.close('Save click')">Submit</button>
                    </form>
                  </div>

                </ng-template>

              </td>

            </tr>

          </table>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>

        </div>
        <hr>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
