<breadcrumb #parent>
  <div class="sub-header p-relative">
    <div class="overlay overlay-bg-black"></div>
    <div class="pattern"></div>
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="sub-header-content p-relative">
              <h1 class="text-custom-white lh-default fw-600">Credit</h1>
              <ul class="custom">
                <li><a class="text-custom-white">Home</a></li>
                <li >

                  <a>Apply for loan</a>
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</breadcrumb>
<!-- Start User Details -->
<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="user-info-tabs">
          <div class="step-tab-inner">
            <div class="heading text-center">
              <h4 class="text-custom-black fw-600">Enter Basic Information</h4>
              <p class="text-custom-black">Check your business's eligibility without impacting
                your credit.<sup>*</sup></p>
            </div>
            <form (ngSubmit) = "onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Guarantor Name</label>
                    <input type="text" class ="form-control" #nameGarantor="ngModel"  [(ngModel)] = "Guarant.nameGarantor" name = "nameGarantor">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Second  Name</label>
                    <input type="text" class ="form-control" #secondnameGarantor="ngModel" [(ngModel)] = "Guarant.secondnameGarantor" name = "secondnameGarantor">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">salaryGarantor</label>
                    <input type="number" class ="form-control" #salaryGarantor="ngModel"  [(ngModel)] = "Guarant.salaryGarantor" name = "salaryGarantor">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">workGarantor</label>
                    <input type="text" class ="form-control" #workGarantor="ngModel" [(ngModel)] = "Guarant.workGarantor" name = "workGarantor">
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">url image</label>
                    <input type="file" class ="form-control" #urlimage="ngModel"  [(ngModel)] = "Guarant.urlimage" name = "urlimage" accept="image/png, image/jpeg">
                  </div>
                </div>
              </div>
              <button class = "btn btn-success" type ="submit">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
