Inves details 
<div class="table-responsive">
    <table class="lw-tab-table">
        <tr class="lw-table-row-1">
           
            <th>Name</th>
            <th>Second Name</th>
            <th>Final Amount</th>
        </tr>
<tr *ngFor="let Inves of listinves">
    
  <td class="lw-table-data-3" class="center">
    {{Inves.nameInvestesment }}
  </td>
  <td class="lw-table-data-4" class="center">
    {{Inves.secondnnameInvestesment }}
  </td>
  
  <td class="lw-table-data-4" class="center">
    {{Inves.finalAmount }}
  </td>
  </tr>
  </table>
  </div>

 
 