<app-header></app-header>
<breadcrumb #parent>
  <div class="sub-header p-relative">
    <div class="overlay overlay-bg-black"></div>
    <div class="pattern"></div>
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">

              <div class="sub-header-content p-relative">
                <h1 class="text-custom-white lh-default fw-600">Fund</h1>
                <ul class="custom">
                  <li><a class="text-custom-white">Home</a></li>
                  <li >

                      <a>Fund Management</a>
                  </li>

                </ul>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</breadcrumb>

<!-- Start User Details -->
<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        
          
            
            <form style="margin-top: 20px">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Amout</label>
                    <input type="number" class ="form-control" #amountFund="ngModel"  [(ngModel)] = "Fund.amountFund" name = "amountFund">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Rate</label>
                    <input type="number" class ="form-control" #tauxFund="ngModel" [(ngModel)] = "Fund.tauxFund" name = "tauxFund">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Win Rate</label>
                    <input type="number" class ="form-control" #tauxGain="ngModel"  [(ngModel)] = "Fund.tauxGain" name = "tauxGain">
                  </div>
                </div>
               </div>
            </form>
      </div>
    </div>
 </div>
</section>

<div  class="section-padding lw-tab-section p-relative"> 
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
            <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
              <li [ngbNavItem]="1">
                
                 <h3 style="margin-bottom: 20px" >Fund Management</h3> 
                  <button (click) = "addFund()"  class = "btn btn-success"  type ="submit" style="margin-left: 10px" style="margin-bottom: 10px" >Add New Fund</button>
                
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                        <th>Fund Identifier</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Win Rate</th>
                        <th>Actions </th>
                    </tr>
                    <tr *ngFor="let Fund of listFunds">
                        <td class="lw-table-data-2"  class="center">
                            {{Fund.idFund}}
                          </td>
                      <td class="lw-table-data-2"  class="center">
                        {{Fund.amountFund}}
                      </td>
                      <td class="lw-table-data-3" class="center">
                        {{Fund.tauxFund}}
                      </td>
                      <td class="lw-table-data-4" class="center">
                      {{Fund.tauxGain}}
                      </td>
                      <td class="lw-table-data-3" class="center">
                       
                        <button  (click) = "goToaddInves()" class = "btn btn-success"  type ="submit"  >Add Investissement </button>
                        <button  class = "btn btn-info" type ="submit" >View Details Fund</button>
                        <button type ="button" class = "btn btn-danger" (click)="deleteFund(Fund.idFund)">Delete Fund</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>