<app-header></app-header>
<app-breadcrumb></app-breadcrumb>

<section class="section-padding-bottom ln-loan-calculator-style">
  <div class="container">
      <div class="row">
          <div class="offset-lg-3 col-lg-6">
              <div class="ln-loan-calculator-wrap">
<div class="loan-price-wrap">
  <h4 class="text-center text-custom-black fw-600">Create New Fund</h4>
                    <p class="text-custom-black text-center">Indicate the win rate of the fund</p>
  <div class="quantity mb-xl-20">
      <input type="text" class="form-control form-control-custom"  #tauxGain="ngModel" value="{{counter}}"
       [(ngModel)] = "Fund.tauxGain" name = "name" placeholder="Enter the rate ( exemple : 0.04 )" >
      <button class="minus-btn btn-first btn-submit-fill btn-height" type="button" (click)="decrement()"> <i class="fas fa-minus"></i></button>
      <button class="plus-btn btn-first btn-submit-fill btn-height border-0" type="button" (click)="increment()"> <i class="fas fa-plus"></i></button>
  </div>
</div>
<div class="col-12">
  <button (click) = "addFund()"   class="btn-first btn-submit text-light-blue full-width" type ="submit" >Add New Fund</button>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- start rate Calculator -->
<section class="section-padding pb-0 exp-cal2">
  <div class="container">
      <div class="section-header">
          <div class="section-heading">
              <h3 class="text-white fw-700">Rate Calculator</h3>
              <div class="section-description">
                  <p class="text-light-white">The more you invest the more you will save money</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="offset-lg-2 col-lg-8 ">
              <div class="exp-cal2-loan">
                  <div class="row">
                      <div class="col-md-5">
                        <p class="fw-600 text-center">Enter your Inves amount</p>
                        <div class="exp-cal2-input">
                            <input placeholder="0DT" maxlength="10" name="calculator" type="number" id="num1"
                            #amount="ngModel" [(ngModel)] = "Inves.amoutInvestesment">
                            <input placeholder="$0" maxlength="10" class="d-none" name="calculator" value={{torate}}
                            [(ngModel)] = torate
                                type="text" id="num2" >
                                
                        </div>
                        <p class="fw-600 mt-2 fs-13">please enter amount sup 8000DT</p>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class=exp-cal-icon>
                            <button type="button" id="calculate"><i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="fw-600 text-center exp-cal2-content">Your final amount</p>
                        <div class="ex-calculate-value">
                            <input type="text" name="sum" id="sum"  readonly> 
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                      <button type ="button" class = "btn btn-info" (click)="Rate(amount.value)">Find My Rate</button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End rate Calculator -->




                  <button  (click)="goToDeails()"  class = "btn btn-success"  type ="submit" style="margin-right: 50px" style="margin-bottom: 10px" >View Details</button>
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                        <th>Fund Identifier</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Win Rate</th>
                        <th>Actions </th>
                    </tr>
                    <tr *ngFor="let Fund of listFunds">
                        <td class="lw-table-data-2"  class="center">
                            {{Fund.idFund}}
                          </td>
                      <td class="lw-table-data-2"  class="center">
                        {{Fund.amountFund}}
                      </td>
                      <td class="lw-table-data-3" class="center">
                        {{Fund.tauxFund}}
                      </td>
                      <td class="lw-table-data-4" class="center">
                      {{Fund.tauxGain}}
                      </td>
                      <td class="lw-table-data-3" class="center">
                        <button  (click) = "goToaddInves(Fund.idFund)" class = "btn btn-success"  type ="submit"  >Add Investissement </button>
                        <button type ="button" class = "btn btn-danger" (click)="deleteFund(Fund.idFund)">Delete Fund</button>
                      </td>
                    </tr>
                  </table>
                </div>
        

  <app-footer></app-footer>