<p>classification works!</p>
<section class="section-padding bg-gray our-articles">
    <div class="container">
       <div class="row">

        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1> {{c0}} </h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List0"  >
                            
                                <h1 *ngIf="a.classification==c0">{{a.email}}</h1>
                             
                     </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c1}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List1"  >
                            
                            <h1 *ngIf="a.classification==c1">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c2}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List2"  >
                            
                            <h1 *ngIf="a.classification==c2">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c3}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List3"  >
                            
                            <h1 *ngIf="a.classification==c3">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c4}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List4"  >
                            
                            <h1 *ngIf="a.classification==c4">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article><article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c5}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List5"  >
                            
                            <h1 *ngIf="a.classification==c5">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c6}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List6"  >
                            
                            <h1 *ngIf="a.classification==c6">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c7}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List7"  >
                            
                            <h1 *ngIf="a.classification==c7">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>
        <article class="col-lg-4 col-md-6 post mb-xl-30" >
            <div class="post-wrapper"  >
               
                <div class=" padding-20">
                    <div class="post-meta">
                        
                        <div class="author-meta" >
                           <h1>{{c8}}</h1>
                        </div>
                        <div class="author-meta" *ngFor = "let a of List8"  >
                            
                            <h1 *ngIf="a.classification==c8">{{a.email}}</h1>
                         
                 </div>
                    </div>
                   
                </div>
              
        
                    
            </div>
           
        </article>


   
       </div>
    </div>
</section>