<app-header></app-header>
<div class="overlapsec"></div>
<breadcrumb #parent>
  <div class="sub-header p-relative">
    <div class="overlay overlay-bg-black"></div>
    <div class="pattern"></div>
    <div class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">

              <div class="sub-header-content p-relative">
                <h1 class="text-custom-white lh-default fw-600">Fund Management</h1>
                <ul class="custom">
                  <li><a class="text-custom-white">Home</a></li>
                  <li >

                      <a>Fund Management</a>
                  </li>

                </ul>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</breadcrumb>
<!-- Start User Details -->
<section class="section-padding-bottom user-info-details">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
        <div class="user-info-tabs">
          <div class="step-tab-inner">
            <div class="heading text-center">
              <h4 class="text-custom-black fw-600">Create New Fund</h4>
            </div>
            <form (ngSubmit) = "onSubmit()">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Amout</label>
                    <input type="number" class ="form-control" #amountFund="ngModel"  [(ngModel)] = "Fund.amountFund" name = "amountFund">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Rate</label>
                    <input type="number" class ="form-control" #tauxFund="ngModel" [(ngModel)] = "Fund.tauxFund" name = "tauxFund">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="text-custom-black fs-14 fw-600">Win Rate</label>
                    <input type="number" class ="form-control" #tauxGain="ngModel"  [(ngModel)] = "Fund.tauxGain" name = "tauxGain">
                  </div>
                </div>
               </div>
              <button  class = "btn btn-success btn-lg btn-block" type ="submit" style="margin-left: 10px">Submit</button>
            </form>
            <button (click) = "goToFundList()"  class = "btn btn-info btn-lg btn-block" style="margin-left: 10px" >Cancel</button>
          </div>
        </div>
      </div>
    </div>
 </div>
</section>

<app-footer></app-footer>
