<app-header></app-header>
<app-breadcrumb></app-breadcrumb>


<div class="section-padding lw-tab-section p-relative">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lw-mega-tab">
            <ul ngbNav #navplans="ngbNav" class="nav lw-nav-tabs">
              <li [ngbNavItem]="1">
                
                <h3 style="margin-bottom: 20px" >Investissement Management</h3> 
                 
                 
                  <button (click) = "PDF()" class = "btn btn-success"  type ="button" style="margin-left: 10px" style="margin-bottom: 10px" >Export List To PDF</button>
                
                
                <div class="table-responsive">
                  <table class="lw-tab-table">
                    <tr class="lw-table-row-1">
                        <th>Investissement Identifier</th>
                        <th>CIN</th>
                        <th>Name</th>
                        <th>Second Name</th>
                        <th>Email</th>
                        <th>Profesion</th>
                        <th>Amout</th>
                        <th>Rate</th>
                        <th>Final Amount</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let Inves of listinves">
                        <td class="lw-table-data-2"  class="center">
                            {{Inves.idInvestesment}}
                          </td>
                      <td class="lw-table-data-2"  class="center">
                        {{Inves.cinInvestesment}}
                    </td>
                      <td class="lw-table-data-3" class="center">
                        {{Inves.nameInvestesment }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.secondnnameInvestesment }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.mailInvestesment }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.professionInvestesment }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.amoutInvestesment }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.tauxInves }}
                      </td>
                      <td class="lw-table-data-4" class="center">
                        {{Inves.finalAmount }}
                      </td>
                      
                      <td class="lw-table-data-3" class="center">
                        <button (click) = "CalculateAmoutOfInves(Inves.idInvestesment)" type ="button" class = "btn btn-info" > Final Amount</button>
                      </td>
                      
                    </tr>
                  </table>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>