<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<button (click) = "PDF()" class="btn-first btn-submit text-light-blue full-width"  type ="button" style="margin-left: 10px" style="margin-bottom: 10px" >Export List To PDF</button>


<section class="section-padding bg-gray">
  <div class="container"  class="padding-top : 1px" >
    <div class="row doctors-team-style-2" class="section-padding-top : 5px">     
      <div class="container mt-5">
      
        <div class="search p-relative">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="filterTerm"
          />
          </div>
        </div>
        <div class="table-responsive">
          <table class="lw-tab-table" >
            <tr class="lw-table-row-1">
              <th [appSort]="listinves" data-order="desc" data-name="Investissement Identifier" scope="col">Invest ID</th>
              <th [appSort]="listinves" data-order="desc" data-name="CIN" scope="col">CIN</th>
              <th [appSort]="listinves" data-order="desc" data-name="Name" scope="col">Name</th>
              <th [appSort]="listinves" data-order="desc" data-name="Second Name" scope="col">Second Name</th>
              <th [appSort]="listinves" data-order="desc" data-name="Email" scope="col">Email</th>
              <th [appSort]="listinves" data-order="desc" data-name="Profesion" scope="col">Profesion</th>
              <th [appSort]="listinves" data-order="desc" data-name="Amout" scope="col">Amout</th>
              <th [appSort]="listinves" data-order="desc" data-name="Rate" scope="col">Rate</th>
              <th [appSort]="listinves" data-order="desc" data-name="Final Amount" scope="col">Final Amount</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor = "let Inves of listinves | filter: filterTerm | paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      ">
              <td class="lw-table-data-2" >
                {{Inves.idInvestesment}}
              </td>
              <td class="lw-table-data-2" >
                {{Inves.cinInvestesment}}
              </td>
              <td class="lw-table-data-3">
                {{Inves.nameInvestesment }}
              </td>
              <td class="lw-table-data-4" >
                {{Inves.secondnnameInvestesment }}
          </td>
          <td class="lw-table-data-4" >
            {{Inves.mailInvestesment }}
          </td>
          <td class="lw-table-data-4" >
            {{Inves.professionInvestesment }}
          </td>
          <td class="lw-table-data-4" >
            {{Inves.amoutInvestesment }}
          </td>
          <td class="lw-table-data-4" >
            {{Inves.tauxInves }}
          </td>
          <td class="lw-table-data-4" >
            {{Inves.finalAmount }}
          </td>
          
          <td class="lw-table-data-3" >
            <button (click) = "CalculateAmoutOfInves(Inves.idInvestesment)" type ="button" class = "btn btn-outline-primary" > Final Amount</button>
          </td>
            
            </tr>

          </table>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>          
        </div>           
        <hr>           
      </div>           
    </div>
  </div>
</section>
  
  <app-footer></app-footer>